@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*===================
        COLORS
  ===================*/

  /* Primary */
  --Green-400: hsl(180, 29%, 50%);

  /* Neutral */
  --Green-50: hsl(180, 52%, 96%);
  --Gray-400: hsl(180, 8%, 52%);
  --Green-900: hsl(180, 14%, 20%);

  /*===================
        TYPOGRAPHY
  ===================*/

  /* font family */
  --font-family-base: "League Spartan";

  /* font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2.25rem;
  --fs-4xl: 3rem;
  --fs-5xl: 3.75rem;
  --fs-6xl: 4.5rem;

  /* font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*===================
        SPACING
  ===================*/

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

body {
  background-color: var(--Green-50);
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--fs-base);
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}

.job-card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--space-base);

  background-color: #fff;
  padding: var(--space-md);
  border-radius: 0.25rem;
}

.job-card.featured {
  border-inline-start: 5px solid var(--Green-400);
}

.company-logo {
  position: absolute;
  top: -1.5rem;

  width: 3.5rem;
  height: 3.5rem;
}

.job-details {
  display: grid;
  gap: var(--space-base);

  padding-block: var(--space-md);
  border-block-end: 2px solid var(--Gray-400);
}

.company-info {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.company-name {
  color: var(--Green-400);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-bold);
}

.job-status {
  display: flex;
  gap: var(--space-xs);
}

.job-new,
.job-featured {
  color: var(--Green-50);
  padding: var(--space-xs);
  border-radius: 1rem;
  font-size: var(--fs-sm);
  font-weight: var(--font-weight-bold);
}

.job-new {
  background-color: var(--Green-400);
}

.job-featured {
  background-color: var(--Green-900);
}

.job-position {
  color: var(--Green-900);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-bold);

  cursor: pointer;

  &:active {
    color: var(--Green-400);
  }
}

.job-meta {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  color: var(--Gray-400);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-medium);
}

.job-meta li {
  margin-inline-end: var(--space-sm);
}

.job-meta li:first-child {
  list-style: none;
}

.job-filter-btns {
  display: flex;
  gap: var(--space-base);

  flex-wrap: wrap;
}

.filter-btn {
  background-color: var(--Green-50);
  color: var(--Green-400);
  padding: var(--space-xs);
  border: none;
  border-radius: 0.25rem;

  font-size: var(--fs-sm);
  font-weight: var(--font-weight-bold);

  &:focus-visible {
    outline: none;
    border: 2px solid var(--Gray-400);
  }

  &:hover {
    color: var(--Green-900);
  }

  &:active {
    background-color: var(--Green-400);
    color: var(--Green-50);
  }
}
