@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*===================
        COLORS
  ===================*/

  /* Primary */
  --Green-400: hsl(180, 29%, 50%);

  /* Neutral */
  --Green-50: hsl(180, 52%, 96%);
  --Gray-400: hsl(180, 8%, 52%);
  --Green-900: hsl(180, 14%, 20%);

  /*===================
        TYPOGRAPHY
  ===================*/

  /* font family */
  --font-family-base: "League Spartan";

  /* font sizes */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 1.875rem;
  --fs-3xl: 2.25rem;
  --fs-4xl: 3rem;
  --fs-5xl: 3.75rem;
  --fs-6xl: 4.5rem;

  /* font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*===================
        SPACING
  ===================*/

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3rem;
  --space-3xl: 3.5rem;
  --space-4xl: 4rem;
}

body {
  background-color: var(--Green-50);
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--fs-base);
  min-height: 100vh;
}

.btn {
  cursor: pointer;
}

.wrapper {
  background-color: var(--Green-400);
  min-width: max-content;
}

.header-background {
  background-image: url("./assets/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 10rem;
}

main {
  display: grid;
  gap: var(--space-xl);

  background-color: var(--Green-50);
  padding-inline: 10%;
  padding-block-start: var(--space-4xl);
}

.job-card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  background-color: #fff;
  padding: var(--space-md);
  border-radius: 0.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.job-card.featured {
  border-inline-start: 5px solid var(--Green-400);
}

.company-logo {
  position: absolute;
  top: -1.5rem;

  width: 4rem;
  height: 4rem;
}

.job-details {
  display: grid;
  gap: var(--space-base);

  padding-block: var(--space-md);
  border-block-end: 2px solid var(--Gray-400);
}

.company-info {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.company-name {
  color: var(--Green-400);
  font-size: clamp(var(--fs-base), 2vw, var(--fs-lg));
  font-weight: var(--font-weight-bold);
}

.job-status {
  display: flex;
  gap: var(--space-xs);
}

.job-new,
.job-featured {
  color: var(--Green-50);
  padding: var(--space-xs);
  border-radius: 1rem;
  font-size: var(--fs-sm);
  font-weight: var(--font-weight-bold);
}

.job-new {
  background-color: var(--Green-400);
}

.job-featured {
  background-color: var(--Green-900);
}

.job-position {
  color: var(--Green-900);
  font-size: clamp(var(--fs-base), 2vw, var(--fs-lg));
  font-weight: var(--font-weight-bold);

  cursor: pointer;

  &:active {
    color: var(--Green-400);
  }
}

.job-meta {
  display: flex;
  align-items: center;
  gap: var(--space-sm);

  color: var(--Gray-400);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-medium);
}

.job-meta li {
  margin-inline-end: var(--space-sm);
  min-width: max-content;
}

.job-meta li:first-child {
  list-style: none;
}

.job-filter-btns {
  display: flex;
  gap: var(--space-base);

  flex-wrap: wrap;
}

.filter-btn {
  background-color: var(--Green-50);
  color: var(--Green-400);
  padding: var(--space-xs);
  border: none;
  border-radius: 0.25rem;

  font-size: clamp(var(--fs-sm), 1.75vw, var(--fs-base));
  font-weight: var(--font-weight-bold);

  &:focus-visible {
    outline: none;
    border: 2px solid var(--Gray-400);
  }

  &:hover {
    color: var(--Green-900);
  }

  &:active {
    background-color: var(--Green-400);
    color: var(--Green-50);
  }
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);

  background-color: #fff;
  padding-inline: var(--space-md);
  padding-block: var(--space-sm);
  border-radius: 0.5rem;
  min-width: 100%;

  margin-block-start: -6rem;
  margin-block-end: var(--space-lg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);

  font-size: clamp(var(--fs-base), 1.5vw, var(--fs-md));
  font-weight: var(--font-weight-bold);
}

.filter-tag {
  display: flex;
  align-items: center;
}

.filter-tag p {
  background-color: var(--Green-50);
  color: var(--Green-400);
  padding: var(--space-xs);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.remove-btn {
  display: grid;

  background-color: var(--Green-400);
  padding: var(--space-xs);
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  &:active {
    background-color: var(--Green-900);
  }
}

.clear-btn {
  background: none;
  color: var(--Gray-400);
  border: none;

  font-size: var(--fs-base);
  font-weight: var(--font-weight-bold);

  &:active {
    color: var(--Green-400);
    text-decoration: underline;
  }
}

@media (width > 768px) {
  .header-background {
    background-image: url("./assets/images/bg-header-desktop.svg");
  }

  .job-card {
    flex-direction: row;
    align-items: center;
  }

  .company-logo {
    position: relative;

    align-self: flex-end;
    width: 5.5rem;
    height: 5.5rem;
  }

  .job-details {
    border: none;
  }

  .job-filter-btns {
    margin-left: auto;
  }
}
